body{
    background-color: #1f1f20;
    color: #fff;
    
}

html, body {margin: 0; height: 100%; overflow: hidden}

#RndmBtn{
    display: flex;
    justify-content: center;
}

#Btn{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    background-color:#2a2a57;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    margin-top: 10%;
    
}

#Personen{
    display: flex;
    min-height: 200px;
    margin-top: 10%;
    
}

#Person1{
    width: 33%;
    text-align: center;
    outline: none;
    outline-color: white;
    padding: 5%;
    background-color: #2a2a57;
    font-size: 130%;
}

#Person2{
    width: 33%;
    text-align: center;
    outline: none;
    outline-color: white;
    padding: 5%;
    background-color: #2a2a57;
    font-size: 130%;
}

#Person3{
    width: 33%;
    text-align:center;
    outline: none;
    outline-color: white;
    padding: 5%;
    background-color: #2a2a57;
    font-size: 130%;
    
}

#head{
    display: flex;
    justify-content: center;
    position: relative;
}

h1{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 300%;
    text-align: center;
}
















