body{
    background-color: #1f1f20;
    color: #fff;
    
}

html, body {margin: 0; height: 100%; overflow-x: hidden}

.RndmBtn{
    display: flex;
    justify-content: center;
}

.Btn{
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
    background-color:#2a2a57;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    margin-top: 5%;
    width: 50%;
    height: 60px;
    font-size: 150%;
}

#Personen{
    display: flex;
    min-height: 250px;
    margin-top: 10%;
}

#Person1{
    width: 33%;
    text-align: center;
    outline: none;
    outline-color: white;
    padding: 5%;
    background-color: #2a2a57;
    font-size: 130%;
    padding-top: 90px;
}

#Person2{
    width: 33%;
    text-align: center;
    outline: none;
    outline-color: white;
    padding: 5%;
    background-color: #2a2a57;
    font-size: 130%;
    padding-top: 90px;
}

#Person3{
    width: 33%;
    text-align:center;
    outline: none;
    outline-color: white;
    padding: 5%;
    background-color: #2a2a57;
    font-size: 130%;
    padding-top: 90px;
}

#head{
    display: flex;
    justify-content: center;
    position: relative;
}

h1{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 300%;
    text-align: center;
}

#divZitat{
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 200px;
    margin-top: 10%;
    width: 100%;
    background-color:#2a2a57;
    text-align: center;
    padding-top: 100px;
    font-size: 200%;
}

.ZitateDiv{
    border-radius: 10px;
    margin-block: 20px;
    align-items: center;
    text-align: center;
    background-color: #2a2a57;
    z-index: 1;
}

#alleZitate{
    display: flex;
    align-content: center;
    justify-content: center;
    color: #2a2a57; ;
    
}















